# dependencies
/node_modules

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing
/coverage

# vscode
.vscode/*

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
*.DS_Store

# Windows
Thumbs.db

# editor-specific
.idea/
*.swp
